:root {
    --app-height: 100%;
}

* {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Major Mono Display', monospace;
}

body {
    background: #39CCCC;
    color: #333;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 26px;
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    @media not all and (hover: hover) {
        height: var(--app-height);
    }
}

.container {
    background: white;
    padding: 0 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    max-width: 250px;
    margin: auto;
}

.btn-hide {
    opacity: 0;
    pointer-events: none;
}

.btn {
    background: #39CCCC;
    border: none;
    padding: 2rem;
    font-size: 2rem;
    color: white;
}