:root {
    --app-height: 100%;
}

* {
    padding: 0;
    margin: 0;
    user-select: none;
}

h1 {
    font-family: 'Major Mono Display', monospace;
}

body {
    background: #39CCCC;
    color: #333;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 26px;
    overflow: hidden;
    width: 100vw;
    /* height: 100vh; */
    height: var(--app-height);


}

.container {
    background: white;
    padding: 0 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    max-width: 250px;
    margin: auto;
}

.btn-hide {
    opacity: 0;
    pointer-events: none;
}

.btn {
    background: #39CCCC;
    border: none;
    padding: 2rem;
    font-size: 2rem;
    z-index: 999;
    color: white;
}

.transition-hide {
    opacity: 0 !important;
    pointer-events: none !important;
}

#page1 {
    overflow: hidden;
}

.transition {
    pointer-events: all;
    background: #39CCCC;
    position: absolute;
    opacity: 0.6;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 200ms ease-in;
}